body{
    background-color:lightcyan;
}

.category{
    border: 1px solid black;
    border-radius: 10px;
    padding:15px 10px;
}

.category ul{
    list-style: none;
    padding: 0%;
}

.category li{
    border-bottom: 1px dotted lightslategray;
}

.category a{
    text-decoration: none;
    color:black;
}

.category a:hover{
    color: red;
}

#footer{
    text-align: center;
}



